header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px; 
    padding: 10px 30px;
    position: fixed; 
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 9999;
}