.dropdown-menu{
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 120px;
}
.subItems{
   
    position: absolute;
    top:30px;
    background-color: #000;
    color: #fff;
    width: 100%;
}
.subItem{
    display: flex;
}
.subItem button{ 
    color: #fff;
}
.subItem img{
    max-width: 18px;
}